# Imports and Libraries

In [1]:
## Our standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## Preprocessing tools
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
## Models & evaluation metrics
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import joblib
## setting random state for reproducibility
SEED = 321
np.random.seed(SEED)
## set pandas to display more columns
pd.set_option('display.max_columns',50)

In [3]:
url="C:/Users/16024/Desktop/mock belt excel.csv"
df = pd.read_csv(url)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Columns: 1119 entries, UID to 2022023
dtypes: float64(3), int64(1110), object(6)
memory usage: 28.5+ MB

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,22012020,23012020,24012020,25012020,26012020,27012020,28012020,29012020,30012020,31012020,1022020,2022020,3022020,4022020,...,9012023,10012023,11012023,12012023,13012023,14012023,15012023,16012023,17012023,18012023,19012023,20012023,21012023,22012023,23012023,24012023,25012023,26012023,27012023,28012023,29012023,30012023,31012023,1022023,2022023
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,19205,19205,19318,19318,19318,19318,19318,19318,19318,19389,19389,19389,19389,19389,19389,19389,19471,19471,19471,19471,19471,19471,19471,19530,19530
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,68182,68182,68518,68518,68518,68518,68518,68518,68518,68764,68764,68764,68764,68764,68764,68764,68983,68983,68983,68983,68983,68983,68983,69187,69187
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,7120,7120,7188,7188,7188,7188,7188,7188,7188,7258,7258,7258,7258,7258,7258,7258,7299,7299,7299,7299,7299,7299,7299,7339,7339
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,7808,7808,7855,7855,7855,7855,7855,7855,7855,7889,7889,7889,7889,7889,7889,7889,7919,7919,7919,7919,7919,7919,7919,7967,7967
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,17952,17952,18057,18057,18057,18057,18057,18057,18057,18130,18130,18130,18130,18130,18130,18130,18255,18255,18255,18255,18255,18255,18255,18349,18349